body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #9bf3ca, #6b97ee); 
    color: #333;
    margin: 0;
    padding-top: 80px;
}
header {
    background-color: rgba(241, 241, 241, 0.8); 
    padding: 20px;
    color: #333;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h2 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #444;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(0, 102, 204, 0.2); 
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #0d4b4b;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

button:hover {
    background-color: #e65a50;
    transform: translateY(-5px) scale(1.05);
}
button:active {
    background-color: #d3473d;
    transform: translateY(1px) scale(0.98);
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    color: #333;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
